.balance-back {
    width: 100%;
    background-color: rgb(215, 222, 221);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

.wallet-elements{
    color: rgb(58, 58, 58);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    display: block; 
}

.button-page-box {
    margin-top: 2%;
    display: flex;
    justify-content: space-between; /* Равномерное распределение пространства между кнопками */
    gap: 3%; /* Отступ между кнопками */
    width: 100%; /* Занимает всю ширину родителя */
}

.operations-button{
    flex: 1;
    min-width: 0; 
    text-align: center;
    padding: 1% 0; 
    color: rgb(215, 222, 221);
    background-color: rgb(41, 58, 43);
    font-size: 20px;
    padding: 1% 2%;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

.operations-button:hover, .end-overlay-button:hover {
    transform: translateY(-2px);
    transition: all 0.3s ease;
    background-color: rgb(65, 94, 68);
    color: #ffffff;
    cursor: pointer;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
  }

/*--------overlay-inc-exp-------*/

.overlay-box {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.overlay-background {
  position: relative;
  flex-direction: column; 
  align-items: center;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
}

.close {
  color: rgb(58, 58, 58);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px; 
  right: 10px; 
  color: rgb(41, 58, 43);
  width: 25px; 
  height: 25px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-overlay{
  color: rgb(58, 58, 58);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 2% auto;
  display: block; 
}

.question-title{
  color: rgb(58, 58, 58);
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin: 3% auto 0px auto;
  display: block; 
}

.input-imcome-exp{
  width: 100%;
  padding: 5px 5px 5px 5px;
  margin-top: 3%;
  border: 2px solid rgb(41, 58, 43);
  border-radius: 4px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

.custom-file-label {
  display: block;
  padding: 5px 5px 5px 5px;
  border: 2px solid rgb(41, 58, 43);
  border-radius: 4px;
  text-align: center;
  margin: 3% auto 0px auto;
  display: block; 
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

.end-overlay-button{
  background-color: rgb(41, 58, 43);
  color: rgb(215, 222, 221);
  font-size: 20px;
  padding: 1% 2%;
  font-weight: bold;
  margin-right: 20%;
  border-radius: 6px;
  text-align: center;
  margin: 5% auto 0 auto;
  display: block; 
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

