.transfer {
  width: 100%;
  height: auto;
  background-color: rgb(215, 222, 221);
  border-radius: 10px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

.input-row {
  width: 100%;
  padding: 8px 20px;
  color: rgb(58, 58, 58);
  font-size: 20px;
}

.goal-container{
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-add{
  display: flex;
  justify-content: center;
  width: 200px;
  margin: 10px auto; 
  padding: 8px 16px;
  color: rgb(58, 58, 58);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

.remove-button {
  color: rgb(58, 58, 58);
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  line-height: 1;
}

.future-goals-text{
  color: rgb(58, 58, 58);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.counter-goals{
  color: rgb(58, 58, 58);
  font-size: 20px;
  font-weight: bold;
}