/* -------- Main Style -------- */
.transfer {
  width: 100%;
  height: auto;
  background-color: rgb(225, 225, 158);
  border-radius: 10px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

/* ------------ Text Elements --------- */
.category-name,
.category-name-overlay {
  width: 100%;
  padding: 8px 20px;
  color: rgb(58, 58, 58);
  font-size: 20px;
  font-weight: bold;
}

.category-name-overlay {
  font-size: 25px;
  text-align: center;
  display: block;
}

.future-goals-text {
  color: rgb(58, 58, 58);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.create-budget-overlay-title{
  color: rgb(58, 58, 58);
  font-size: 24px;
  font-weight: bold;
  padding-left: 18%;
}

.counter-goals {
  color: rgb(58, 58, 58);
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}

.new-wallet-questions-title{
  margin: 10px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  display: block;
}

.questions-editing {
  width: 100%;
  font-size: 20px;
  text-align: center;
  display: block;
}

.currency-settings{
  display: flex;
  width: 80%;
  justify-content: space-between; 
  margin-top: 10px; 
  margin-bottom: 10px; 
  margin: auto;
}

.currency-button{
  margin-top: 10%;
  margin: auto;
  border-radius: 50px;
  width: 45px;
  background-color: rgb(212, 129, 65);
  height: 45px;
  z-index: 1;
  cursor: pointer;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.currency-button:hover {
  background-color: rgb(232, 134, 59);
  transform: translateY(-3px);
}

.currency-button.selected-currency{
  background-color: rgb(64, 127, 138);
  transition: all 0.3s ease;
}

.input-name-wallet {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  border: 2px solid rgb(41, 58, 43);
  border-radius: 4px;
}

.svg-image-currency{
  margin-left: 9px;
  width: 27px;
  height: 27px;
}

/* ------ Container Styles ------*/
.goal-container {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

/* ------ Button Styles ------- */
.button-add,
.save-button,
.delete-button {
  padding: 10px 20px;
  color: rgb(58, 58, 58);
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

.save-button{
  margin-left: 36%;
}

.button-add {
  display: flex;
  justify-content: center;
  width: 280px;
  margin: 10px auto;
  font-size: 18px;
  transition: all 0.3s ease;
  background-color: rgb(226, 207, 137);
}

.button-add:hover {
  transform: translateY(-3px);
  background-color: rgb(222, 201, 134);
}

.save-button,
.delete-button {
  background-color: rgb(41, 58, 43);
  color: white;
  border: none;
}

.settings-wallet-button {
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin-right: 1%;
  cursor: pointer;
  border: 2px solid rgb(41, 58, 43);
  border-radius: 30px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.settings-wallet-button:hover{
  transform: translateY(-3px);
  background-color: rgb(216, 216, 216);
}
.add-button {
  background-color: rgb(210, 137, 81);
  margin-top: 5%;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

.add-button:hover, .save-button:hover {
  background-color: rgb(212, 129, 65);
}


/* ------ Form Elements ------ */
.edit-input {
  width: 100%;
  padding: 5px;
  margin: 5% 0;
  border: 2px solid rgb(41, 58, 43);
  border-radius: 4px;
}

/* ------ Overlay Styles ------ */
.overlay-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 45px;
  z-index: 1;
}

.overlay-background {
  position: relative;
  width: 80%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: rgb(255, 255, 215);
  border: 1px solid #888;
  border-radius: 8px;
}

.close {
  position: absolute;
  font-size: 28px;
  padding: 5px 10px;
  top: 10px;
  right: 15px;
  color: rgb(41, 58, 43);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
}

.close:hover {
  color: black;
}

/* ---- Utility Classes ------ */
.svg-image-pencil {
  width: 25px;
  height: 25px;
}

.svg-trash {
    height: 25px;
    width: 25px;
}

.limit {
  margin-right: 10px;
}

/* ---- Other ------ */
.input-income-exp {
    width: 100%;
    padding: 5px;
    border: 2px solid rgb(41, 58, 43);
    border-radius: 4px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
    margin-top: 3%;
}

