.transfer {
  width: 100%;
  height: auto;
  background-color: rgb(215, 222, 221);
  border-radius: 10px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

.category-name {
  width: 100%;
  padding: 8px 20px;
  color: rgb(58, 58, 58);
  font-size: 20px;
}

.goal-container{
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
}

.button-add{
  display: flex;
  justify-content: center;
  width: 200px;
  margin: 10px auto; 
  padding: 8px 16px;
  color: rgb(58, 58, 58);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

.future-goals-text{
  color: rgb(58, 58, 58);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.counter-goals{
  color: rgb(58, 58, 58);
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}

.svg-image-pencil{
  height: 25px;
  width: 25px;
}

.settings-wallet-button{
  border-radius: 30px;
  margin-right: 1%;
  display: flex;
  align-items: center;
  border: 2px solid rgb(41, 58, 43);
  border-radius: 30px;
  padding: 0 15px;
  cursor: pointer;
}

.limit{
  margin-right: 1%;
}

/* ===== Overlay ===== */

.overlay-box {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay-background {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
}

.close {
  color: rgb(41, 58, 43);
  float: right;
  font-size: 20px;
  position: absolute; 
  top: 10px; 
  right: 15px; 
  font-weight: bold;
  cursor: pointer;
   z-index: 2; 
}

.close:hover {
  color: black;
  margin-bottom: 5%;
}

.save-button {
  background-color: rgb(41, 58, 43);
  margin-top: 5%;
  margin-left: 20%;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

.delete-button{
  background-color: rgb(41, 58, 43);
  margin-top: 5%;
  margin-right: 20%;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

.save-delete-box{
  display: flex;
  width: 100%;
  justify-content: space-between; 
  margin-top: 10px; 
  margin-bottom: 10px; 
}

.category-name-overlay{
  width: 100%;
  font-size: 20px;
  text-align: center;
  display: block;
  font-size: 25px;
  font-weight: bold;
}

.questions-editing{
  width: 100%;
  font-size: 20px;
  text-align: center;
  display: block;
  font-size: 20px;
}

.edit-input{
  width: 100%;
  padding: 5px 5px 5px 5px;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 2px solid rgb(41, 58, 43);
  border-radius: 4px;
}