/* -------- Text Elements ------------ */
.MyFin,
.question,
.yes-button,
.no-button,
.back-button {
  color: rgb(215, 222, 221);
  font-weight: bold;
  transition: all 0.3s ease;
}

.MyFin {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 8px 16px;
  font-size: 30px;
}

.MyFin:hover {
  transform: scale(1.05);
  text-shadow: 0 0 10px rgba(215, 222, 221, 0.5);
  cursor: pointer;
}

/* ---------- Buttons ---------- */
.back-button,
.yes-button,
.no-button {
  border: 2px solid rgb(215, 222, 221);
  border-radius: 10px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

.back-button {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 8px 16px;
  font-size: 20px;
}

.yes-button,
.no-button {
  min-width: 40px;
  font-size: 30px;
}

.yes-button {
  padding: 8px 22px;
}

.no-button {
  margin-left: 50%;
  padding: 8px 16px;
}

.yes-button:hover,
.no-button:hover,
.back-button:hover {
  color: #ffffff;
  cursor: pointer;
  transform: translateY(-2px);
  background-color: rgba(215, 222, 221, 0.1);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
}

/* ------------ Background Elements ------------ */
.background {
  margin: 15%;
  min-height: 200px;
  border: 2px solid rgb(215, 222, 221);
  border-radius: 10px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

.question {
  padding-top: 10%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-button {
  margin: 15%;
  display: flex;
  justify-content: center;
}