.MyFin {
  position: absolute;
  top: 30px;
  left:30px;
  padding: 8px 16px;
  color: rgb(215, 222, 221);
  font-size: 30px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.MyFin:hover {
  transform: scale(1.05);
  text-shadow: 0 0 10px rgba(215, 222, 221, 0.5);
  cursor: pointer;
}

.back-button {
  border-radius: 10px;
  border: 2px solid rgb(215, 222, 221);
  position: absolute;
  top: 30px;
  right:30px;
  padding: 8px 16px;
  color: rgb(215, 222, 221);
  font-size: 20px;
  font-weight: bold;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.background {
  margin: 15%;
  border-radius: 10px;
  border: 2px solid rgb(215, 222, 221);
  min-height: 200px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

.question {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: rgb(215, 222, 221);
}

.background-button{
  margin: 15%;
  display: flex;
  justify-content: center;
}

.yes-button, .no-button{
  border-radius: 10px;
  border: 2px solid rgb(215, 222, 221);
  color: rgb(215, 222, 221);
  min-width: 40px;
  font-size: 30px;
  font-weight: bold;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.yes-button{
  padding: 8px 22px;
  font-weight: bold;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

.no-button{
  margin-left: 50%;
  padding: 8px 16px;
}

.yes-button:hover, .no-button:hover, .back-button:hover {
  color: #ffffff;
  cursor: pointer;
  transform: translateY(-2px);
  background-color: rgba(215, 222, 221, 0.1);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
}