/* ------- Text Elements --------- */
.MyFin,
.input-row-label,
.question,
.error-message {
  color: rgb(215, 222, 221);
  font-weight: bold;
}

.category-name-overlay {
  width: 100%;
  margin-left: 20%;
  padding: 8px 20px;
  color: rgb(58, 58, 58);
  font-size: 20px;
  font-weight: bold;
}

.questions-editing {
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
  display: block;
}

.MyFin {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 8px 16px;
  font-size: 30px;
  transition: all 0.3s ease;
}

.MyFin:hover {
  transform: scale(1.05);
  text-shadow: 0 0 10px rgba(215, 222, 221, 0.5);
  cursor: pointer;
}

.input-row-label {
  padding-top: 10%;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  padding: 8px 16px;
  font-size: 22px;
}

.error-message {
  font-size: 20px;
  margin: 0 auto;
}

/* ----------- Form Elements --------- */
.input-row {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 5px;
  font-size: 25px;
  background-color: rgb(215, 222, 221);
  border-radius: 5px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

.centered-row {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.edit-input {
  width: 100%;
  padding: 5px;
  margin-top: 30px;
  border: 2px solid rgb(41, 58, 43);
  border-radius: 4px;
}

/* ------ Overlay Styles ------ */
.overlay-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 45px;
  z-index: 1;
}

.overlay-background {
  position: relative;
  width: 80%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 8px;
}

.close {
  position: absolute;
  font-size: 28px;
  padding: 5px 10px;
  top: 10px;
  right: 15px;
  color: rgb(41, 58, 43);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
}

.close:hover {
  color: black;
}

/* ---------- Button Styles -------- */
.log-in-button,
.back-button,
.sing-in-end {
  border: 2px solid rgb(215, 222, 221);
  border-radius: 10px;
  color: rgb(215, 222, 221);
  font-weight: bold;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.log-in-button:hover,
.back-button:hover,
.sing-in-end:hover {
  color: #ffffff;
  cursor: pointer;
  transform: translateY(-2px);
  background-color: rgba(215, 222, 221, 0.1);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
}

.log-in-button {
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
}

.back-button {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 8px 16px;
  font-size: 20px;
}

.sing-in-end {
  margin: 0 auto;
  padding: 10px;
  font-size: 25px;
}

.submit-button {
  background-color: rgb(41, 58, 43);
  margin-top: 5%;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}

.submit-button:hover {
  background-color: rgb(64, 127, 138);
}
