@import "tailwindcss";

*{
  margin:  0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #6abccc;
  background: linear-gradient(121deg,rgba(106, 188, 204, 1) 0%, rgba(255, 255, 255, 1) 100%);
}