  .top_menu {
    width: 100%;
    height: 60px;
    border: 2px solid rgb(215, 222, 221);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .right-buttons {
    display: flex;
    align-items: center;
  }
  
  .log_in_button {
    margin-right: 20px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(215, 222, 221);
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 0 15px;
    color: rgb(215, 222, 221);
  }
  
  .registration_button {
    margin-right: 20px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(215, 222, 221);
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 0 15px;
    color: rgb(215, 222, 221);
  }
  
  .logo {
    margin-left: 20px;
    height: 40px;
    font-weight: bold;
    color: rgb(215, 222, 221);
    font-size: 28px;
    padding: 0;
  }