.myhistory-element{
    width: 100%;
    background-color: rgba(187, 187, 187, 0.5);
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
}
.category-value-row {
    display: flex;     
    justify-content: space-between;
    width: 100%;
    padding: 7px 10px;
}
.date {
    color: rgb(45, 31, 31);
    font-size: 24px;
    padding: 0 10px;
}

.value, .category {
    color: rgb(71, 62, 62);
    font-size: 18px;
}
